html {
    background-color: #12121a;
    color: #e2e2f0;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", sans-serif;
}

#app {
    height: 100vh;
    overflow: hidden;
}
